/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ card__like-button — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--weight-main-text);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.header {
  inline-size: var(--block-width);
  background-color: rgba(255, 255, 255, 1);
  border: solid 2px var(--accent-color);
  margin-top: 100px;
  margin-bottom: 97px;
}

.header-title {
  font-family: var(--accent-font), sans-serif;
  font-size: var(--title-size);
  line-height: 0.95;
}

.header-subtitle {
  font-family: var(--accent-font), sans-serif;
  font-size: var(--subtitle-size);
  text-align: center;
  text-transform: uppercase;
}

dialog {
  padding: 0;
  box-sizing: border-box;
}

.header-logo__group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 130px 0;
  justify-self: center;
}

.card-title {
  font-weight: var(--weight-title);
  padding-block-start: 6px;
  padding-inline-start: 10px;
  padding-inline-end: 13px;
  padding-block-end: 5px;
  font-size: 18px;
  letter-spacing: 0.2px;
}



.main-content {
  align-self: center;
  padding-bottom: 100px;
}

.main-content__cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  inline-size: var(--block-width);
  background-color: rgba(255, 255, 255, 1);
  border: var(--block-border);
}

.main-card__image {
  height: 696px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.main-card__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card-text {
  font-size: 18px;
  font-weight: var(--weight-main-text);
  line-height: 21px;
}

.card__icon-button {
  background-color: transparent;
  border: transparent;
  transition: border 0.3s ease;
  padding: 0;
}

.card__like-button {
  padding: 12.5px 17px;
  min-width: 130px;
}

.button-group-decoration {
  display: flex;
  justify-content: end;
  padding-right: 25px;
  padding-bottom: 19.5px;
  gap: 7px;
}

.button__icone {
  width: 21px;
  height: 21px;
  filter: invert(1);
  mix-blend-mode: difference;
}

.save-button-group {
  display: flex;
  justify-content: center;
  padding: 0 34.5px;
}

.save__button {
  padding: 16px 17px;
}

.image__label {
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  inset-inline-end: 25px;
  inset-block-start: 27px;
  mix-blend-mode: hard-light;
  text-shadow: 1px 0 var(--text-stroke-color), -1px 0 var(--text-stroke-color),
    0 1px var(--text-stroke-color), 0 -1px var(--text-stroke-color),
    1px 1px var(--text-stroke-color), 1px -1px var(--text-stroke-color),
    -1px 1px var(--text-stroke-color), -1px -1px var(--text-stroke-color);
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color)) {
  .image__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
}

.image-container {
  position: relative;
}

.dialog-size {
  width: 353px;
}

.dialog {
  background-color: rgba(255, 255, 255, 1);
  padding: 30px 30px;
}

.dialog__text {
  font-family: "PressStart2P", fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.dialog__floppy {
  height: 39px;
  width: 88px;
}

.countour {
  transition: 0.1s fill linear;
}

.core {
  transition: 0.3s fill linear 0.03s;
}

.main-body {
  transition: 0.3s fill linear;
}

.like-icon {
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: 0.3s fill linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: 0.3s fill linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: 0.3s fill linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: 0.3s fill linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: 0.3s fill linear 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: 0.3s fill linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: 0.3s fill linear 0.05s;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.button__label {
  position: relative;
  z-index: 1;
  color: var(--text-color);
  mix-blend-mode: difference;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--text-color);
  mix-blend-mode: difference;
}

.dialog__text-group {
  display: flex;
  gap: 20px;
}

.dialog__button {
  padding: 12.5px 116.5px;
  width: 100%;
}

.filter-blur {
  filter: blur(3px);
}

.filter-contrast-brightness {
  filter: contrast(175%) brightness(15%);
}

.filter-saturate {
  filter: saturate(80%);
}

.filter-shadow {
  filter: drop-shadow(16px 15px 20px green);
}

.filter-hue {
  filter: hue-rotate(40deg);
}

.filter-contrast {
  filter: contrast(160%);
}

.filter-sepia {
  filter: sepia(40%);
}

.filter-invert {
  filter: invert(100%);
}

.card__icon-button:focus {
  outline: transparent;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  height: 41px;

  outline: transparent;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.sparks {
  opacity: 0;
}

@media (width <= 375px) {
  .header {
    margin: 100px 0 97px 0;
  }
  .main-content {
    padding: 0 0 94px 0;
  }

  .dialog-size {
  min-width: 347px;
}

  .header-logo__group {
    padding: 122.5px 0px;
  }

  .main-card__image {
    height: 371px;
    width: 100%;
  }

  .button__icone {
    height: 28px;
    width: 28px;
    align-self: center;
    margin-bottom: 8px;
    color: var(--text-color);
    mix-blend-mode: difference;
  }

  .dialog {
    width: 341px;
    padding: 30px 40px;
  }

  .save__button {
    display: flex;
    flex-direction: column;
  }
}

.design-button {
  background-color: white;
  border: var(--block-border);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  transition: box-shadow 0.3s ease;
  position: relative;
}

.design-button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.design-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  transform-origin: left center;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.design-button:hover::before {
  transform: scaleX(1);
}
